.OrdersPage{
    width: 100%;
    h1{
        font-family: 'Poppins', sans-serif;
    }
    .order-recieved{
        color: rgb(33, 152, 33);
        font-family: 'Poppins', sans-serif;
    }
    .recieved-btn{
        padding: 5px 15px;
        background-color: rgb(31, 166, 31);
        font-family: 'Poppins', sans-serif;
        color: white;
    }
}