.profile-container{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: rgb(247, 246, 246);
    .profile-navigate{
        width: 23%;  
        height: 100vh;   
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-content{
        height: 100vh;
        overflow-y: scroll;
        width: 77%;
        padding: 10px 20px;
    }

}



